{
    margin=0;
    padding=0;
    box-sizzing: border-box;
}


.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}


.form-register{
    width: 400px;
    background-color: #0c1b5e;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: 'calibri';
    color: rgb(112, 112, 112);
    box-shadow: 7px 13px 37px #000;
}
.controls{
    width: 100%;
    background: #0c1b5e;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid #f8f6f6;
    font-family: 'calibri';
    font-size: 18px;
}

.form-register p{
    height: 400px;
    text-align: center;
    font-size: 18px;
    line-height: 40px;
}

.form-register a {
    color:white;
    text-decoration: none;
}

.form-register a:hover {
    color: white;
    text-decoration: underline;
}

.form-register .botons{
    width: 100%;
    background: #0c1b5e;
    border: none;
    padding: 12px;
    color: rgb(255, 255, 255);
    margin: 16px 0;
    font-size: 16px;
}